.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percent {
  position: absolute;
  font-size: 32px;
  font-weight: 600;
  user-select: none;
}